In [2]:
import pandas as pd
import numpy as np

In [3]:
path = "../Datasets/datacamp_dataset/Pandas/"
wards = pd.read_pickle(path + "ward.p")
print(wards.head())
print(wards.shape)

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649
(50, 4)

In [4]:
census = pd.read_pickle(path+"census.p")
print(census.head())
print(census.shape)

  ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637
(50, 6)

In [5]:
wards_census = wards.merge(census, on="ward")
print(wards_census.head(4))

  ward            alderman                        address_x  zip_x  pop_2000  \
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647     52951
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622     54361
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609     40385
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616     51953

   pop_2010 change                                address_y  zip_y
0     56149     6%              2765 WEST SAINT MARY STREET  60647
1     55805     3%                 WM WASTE MANAGEMENT 1500  60622
2     53039    31%                      17 EAST 38TH STREET  60653
3     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL  60653

In [6]:
print(wards_census.shape)

(50, 9)

In [7]:
print(wards_census.columns)

Index(['ward', 'alderman', 'address_x', 'zip_x', 'pop_2000', 'pop_2010',
       'change', 'address_y', 'zip_y'],
      dtype='object')

In [8]:
wards_census = wards.merge(census, on="ward", suffixes=("_ward", "_cen"))
print(wards_census.head())
print(wards_census.shape)

  ward            alderman                     address_ward zip_ward  \
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE    60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE    60622
2    3          Pat Dowell          5046 SOUTH STATE STREET    60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR    60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET    60649

   pop_2000  pop_2010 change                              address_cen zip_cen
0     52951     56149     6%              2765 WEST SAINT MARY STREET   60647
1     54361     55805     3%                 WM WASTE MANAGEMENT 1500   60622
2     40385     53039    31%                      17 EAST 38TH STREET   60653
3     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL   60653
4     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE   60637
(50, 9)

### One-to-Many Relationships

In [9]:
licenses = pd.read_pickle(path + "licenses.p")
print(licenses.head())
print(licenses.shape)

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613
(10000, 6)

In [10]:
print(wards.head())

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649

In [11]:
ward_licenses = wards.merge(licenses, on="ward", suffixes=("_ward", "_lic"))
print(ward_licenses.head())

  ward            alderman               address_ward zip_ward account  aid  \
0    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE    60647   12024  NaN
1    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE    60647   14446  743
2    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE    60647   14624  775
3    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE    60647   14987  NaN
4    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE    60647   15642  814

               business              address_lic zip_lic
0   DIGILOG ELECTRONICS       1038 N ASHLAND AVE   60622
1      EMPTY BOTTLE INC   1035 N WESTERN AVE 1ST   60622
2  LITTLE MEL'S HOT DOG    2205 N CALIFORNIA AVE   60647
3    MR. BROWN'S LOUNGE   2301 W CHICAGO AVE 1ST   60622
4          Beat Kitchen  2000-2100 W DIVISION ST   60622

In [12]:
print(wards.shape)
print(licenses.shape)
print(ward_licenses.shape)

(50, 4)
(10000, 6)
(10000, 9)

In [32]:
biz_owners = pd.read_pickle(path + "business_owners.p")
print(biz_owners.head())

  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT

In [14]:
print(biz_owners.columns)
print(licenses.columns)

Index(['account', 'first_name', 'last_name', 'title'], dtype='object')
Index(['account', 'ward', 'aid', 'business', 'address', 'zip'], dtype='object')

In [33]:
licenses_owners = licenses.merge(biz_owners, on="account")
print(licenses_owners.head())

  account ward  aid              business              address    zip  \
0  307071    3  743  REGGIE'S BAR & GRILL      2105 S STATE ST  60616
1      10   10  829            HONEYBEERS  13200 S HOUSTON AVE  60633
2      10   10  829            HONEYBEERS  13200 S HOUSTON AVE  60633
3   10002   14  775           CELINA DELI    5089 S ARCHER AVE  60632
4   10002   14  775           CELINA DELI    5089 S ARCHER AVE  60632

  first_name last_name      title
0     ROBERT     GLICK     MEMBER
1      PEARL   SHERMAN  PRESIDENT
2      PEARL   SHERMAN  SECRETARY
3     WALTER    MROZEK    PARTNER
4     CELINA    BYRDAK    PARTNER

In [34]:
licenses_owners.columns

Index(['account', 'ward', 'aid', 'business', 'address', 'zip', 'first_name',
       'last_name', 'title'],
      dtype='object')

In [35]:
licenses_owners.groupby("title").agg({"account":"count"})

                    account
title
ASST. SECRETARY         111
BENEFICIARY               4
CEO                     110
DIRECTOR                146
EXECUTIVE DIRECTOR       10
GENERAL PARTNER          21
INDIVIDUAL              268
LIMITED PARTNER          26
MANAGER                 134
MANAGING MEMBER         878
MEMBER                  884
NOT APPLICABLE           11
OTHER                  1200
PARTNER                 451
PRESIDENT              6259
PRINCIPAL OFFICER        63
SECRETARY              5205
SHAREHOLDER             590
SOLE PROPRIETOR        1658
SPOUSE                   34
TREASURER               447
TRUSTEE                   6
VICE PRESIDENT          970

In [36]:
# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on="account")

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values(by='account', ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

In [39]:
grants = pd.read_pickle(path+"land_use.p")
print(grants.head())

  ward  residential  commercial  industrial  vacant  other
0    1           41           9           2       2     46
1    2           31          11           6       2     50
2    3           20           5           3      13     59
3    4           22          13           0       7     58
4    5           25           3           1       3     68