In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

# bring in matplotlib for graphics .%matplotlib inline 쥬피터 노트북 그리기툴
import matplotlib.pyplot as plt
%matplotlib inline

# Creating a DataFrame using NumPy funciton results

In [2]:
pd.DataFrame(np.arange(1, 6))

   0
0  1
1  2
2  3
3  4
4  5

In [9]:
df = pd.DataFrame(np.array([[10, 11], [20, 22]]))
df

    0   1
0  10  11
1  20  22

In [8]:
# 줄이 맞지 않으면 이렇게되는구나...?
df = pd.DataFrame(np.array([[10, 11, 12, 13], [20, 21]]))
df

                  0
0  [10, 11, 12, 13]
1          [20, 21]

In [10]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [11]:
df = pd.DataFrame(np.array([[70, 71], [90, 91]]),
                 columns = ['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0        70            71
1        90            91

In [12]:
len(df)

2

In [13]:
df.shape

(2, 2)

# Creating a DataFrame using a python dict

In [14]:
temps_missoula = [70, 71]
temps_philly = [90, 91]
temperatures = {'Missoula': temps_missoula,
               'Philadelphia': temps_philly,}
pd.DataFrame(temperatures)

   Missoula  Philadelphia
0        70            90
1        71            91

In [16]:
# row 단위로 뿌린다 (딕셔너리는 columns!)
temps_at_time0 = pd.Series([70, 90])
temps_at_time1 = pd.Series([71, 91])
df = pd.DataFrame([temps_at_time0, temps_at_time0])
df

    0   1
0  70  90
1  70  90

In [25]:
df = pd.DataFrame([temps_at_time0, temps_at_time1],
                 columns=[0, 1])
df

    0   1
0  70  90
1  71  91

In [23]:
df = pd.DataFrame([temps_at_time0, temps_at_time1],
                 columns=['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0       NaN           NaN
1       NaN           NaN

In [26]:
df.columns = ['Missoula','Philadelphia']
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [27]:
temps_mso_series = pd.Series(temps_missoula)
temps_phi_series = pd.Series(temps_philly)
df = pd.DataFrame({'Missoula': temps_mso_series,
                  'Philadelphia': temps_phi_series})
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [28]:
temps_nyc_series = pd.Series([85, 87], index=[1, 2])
df = pd.DataFrame({'Missoula': temps_mso_series,
                  'Philadelphia': temps_phi_series,
                  'New York': temps_nyc_series})
df

   Missoula  Philadelphia  New York
0      70.0          90.0       NaN
1      71.0          91.0      85.0
2       NaN           NaN      87.0

In [30]:
sp500 = pd.read_csv("../data/sp500.csv",
                   index_col='Symbol',
                   usecols=[0 ,2, 3, 7])
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [35]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [36]:
len(sp500)

500

In [38]:
sp500.shape

(500, 3)

In [39]:
sp500.size

1500

In [40]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [41]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [42]:
sp500['Sector'].head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [43]:
type(sp500)

pandas.core.frame.DataFrame

In [45]:
type(sp500['Sector'])

pandas.core.series.Series

In [46]:
sp500[['Price', 'Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

In [47]:
# 두 개 이상의 시리즈는 데이터프레임이 된다!
type(sp500[['Price', 'Book Value']])

pandas.core.frame.DataFrame

In [48]:
# 와 너무 편하다
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

In [49]:
# 이런 문제점이 있다
sp500.Book Value

SyntaxError: invalid syntax (<ipython-input-49-f23c90049dce>, line 1)

In [50]:
sp500.Price[0:5]

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
Name: Price, dtype: float64

AttributeError: 'DataFrame' object has no attribute 'Book_Value'

In [53]:
# index값으로 찾는다.
a = sp500.loc['MMM']
a

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [54]:
sp500.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [55]:
sp500.iloc[[0, 2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

In [56]:
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 10)

In [57]:
sp500.iloc[[i1, i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

In [58]:
# 우와 이거 신기하다... index MMM 의 Price를 가져오는 법.
sp500.at['MMM', 'Price']

141.14

In [60]:
# row - columns 순 접근
sp500.iat[0, 1]

141.14

In [61]:
sp500[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [62]:
# 인덱스 슬라이싱도 이렇게 가능하다.
sp500['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

In [63]:
sp500.Price <100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

In [66]:
sp500[sp500.Price < 100]

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

In [67]:
r = sp500[(sp500.Price < 10) &
         (sp500.Price > 6)][['Price','Book Value']]
r

        Price  Book Value
Symbol
HCBK     9.80       9.596
HBAN     9.10       6.995
SLM      8.82      11.895
WIN      9.38       1.199

In [68]:
r = sp500[(sp500.Sector == 'Health Care') &
         (sp500.Price > 100)] [['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

In [69]:
sp500.loc['ABT']['Sector']

'Health Care'

In [70]:
sp500.iloc[1][0]

'Health Care'

In [71]:
sp500.loc[['ABT', 'ZTS']][['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53