In [7]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

# bring in matplotlib for graphics .%matplotlib inline 쥬피터 노트북 그리기툴
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
sp500 = pd.read_csv("../data/sp500.csv",
                   index_col='Symbol',
                   usecols=[0 ,2, 3, 7])
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

## Renaming Column

In [4]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [5]:
sp500.rename(columns={
            'Book Value': 'BookValue'},
            inplace=True)

sp500.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

In [6]:
sp500.BookValue[:5]

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64

In [12]:
sp500_copy = sp500.copy()
# add the new oolumn
sp500_copy['RoundedPrice'] = sp500.Price.round(-1)
sp500_copy[:5]

                        Sector   Price  BookValue  RoundedPrice
Symbol
MMM                Industrials  141.14     26.668         140.0
ABT                Health Care   39.60     15.573          40.0
ABBV               Health Care   53.95      2.954          50.0
ACN     Information Technology   79.79      8.326          80.0
ACE                 Financials  102.91     86.897         100.0

In [13]:
sss = sp500_copy['RoundedPrice'].astype('int')
sss[:2]

Symbol
MMM    140
ABT     40
Name: RoundedPrice, dtype: int32

In [14]:
copy = sp500.copy()

copy.insert(1, 'RoundedPrice', sp500.Price.round())
copy[:2]

             Sector  RoundedPrice   Price  BookValue
Symbol
MMM     Industrials         141.0  141.14     26.668
ABT     Health Care          40.0   39.60     15.573

# Adding columns through enlargement

In [15]:
ss = sp500[:3].copy()
ss.loc[:, 'PER'] = 0
ss

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668    0
ABT     Health Care   39.60     15.573    0
ABBV    Health Care   53.95      2.954    0

In [16]:
ss = sp500[:3].copy()

np.random.seed(123456)
ss.loc[:, 'PER'] = pd.Series(np.random.normal(size=3), index=ss.index)
ss

             Sector   Price  BookValue       PER
Symbol
MMM     Industrials  141.14     26.668  0.469112
ABT     Health Care   39.60     15.573 -0.282863
ABBV    Health Care   53.95      2.954 -1.509059

# Adding columns using concatenation

In [17]:
rounded_price = pd.DataFrame({
    'RoundedPrice': sp500.Price.round()
})
rounded_price

        RoundedPrice
Symbol
MMM            141.0
ABT             40.0
ABBV            54.0
ACN             80.0
ACE            103.0
...              ...
YHOO            35.0
YUM             75.0
ZMH            102.0
ZION            28.0
ZTS             31.0

[500 rows x 1 columns]

In [19]:
pd.concat([sp500, rounded_price], axis=1)
sp500[:5]

                        Sector   Price  BookValue
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897

In [20]:
concatenated = pd.concat([sp500, rounded_price], axis=1)
concatenated

                        Sector   Price  BookValue  RoundedPrice
Symbol
MMM                Industrials  141.14     26.668         141.0
ABT                Health Care   39.60     15.573          40.0
ABBV               Health Care   53.95      2.954          54.0
ACN     Information Technology   79.79      8.326          80.0
ACE                 Financials  102.91     86.897         103.0
...                        ...     ...        ...           ...
YHOO    Information Technology   35.02     12.768          35.0
YUM     Consumer Discretionary   74.77      5.147          75.0
ZMH                Health Care  101.84     37.181         102.0
ZION                Financials   28.43     30.191          28.0
ZTS                Health Care   30.53      2.150          31.0

[500 rows x 4 columns]

In [23]:
dups = pd.concat([sp500, rounded_price], axis=1)
dups[:5]

                        Sector   Price  BookValue  RoundedPrice
Symbol
MMM                Industrials  141.14     26.668         141.0
ABT                Health Care   39.60     15.573          40.0
ABBV               Health Care   53.95      2.954          54.0
ACN     Information Technology   79.79      8.326          80.0
ACE                 Financials  102.91     86.897         103.0

In [24]:
dups1 = pd.concat([sp500, rounded_price], axis=0)
dups1[:5]

                        Sector   Price  BookValue  RoundedPrice
Symbol
MMM                Industrials  141.14     26.668           NaN
ABT                Health Care   39.60     15.573           NaN
ABBV               Health Care   53.95      2.954           NaN
ACN     Information Technology   79.79      8.326           NaN
ACE                 Financials  102.91     86.897           NaN

In [25]:
len(dups1)

1000

In [26]:
dups.Price[:5]

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
Name: Price, dtype: float64

In [27]:
dups.iloc[:, 3]

Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0
        ...
YHOO     35.0
YUM      75.0
ZMH     102.0
ZION     28.0
ZTS      31.0
Name: RoundedPrice, Length: 500, dtype: float64

In [28]:
rounded_price = pd.DataFrame({
    'Price': sp500.Price.round()
})
rounded_price

        Price
Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0
...       ...
YHOO     35.0
YUM      75.0
ZMH     102.0
ZION     28.0
ZTS      31.0

[500 rows x 1 columns]

In [29]:
dups = pd.concat([sp500, rounded_price], axis=1)
dups[:5]

                        Sector   Price  BookValue  Price
Symbol
MMM                Industrials  141.14     26.668  141.0
ABT                Health Care   39.60     15.573   40.0
ABBV               Health Care   53.95      2.954   54.0
ACN     Information Technology   79.79      8.326   80.0
ACE                 Financials  102.91     86.897  103.0

In [30]:
dups.Price[:5]

         Price  Price
Symbol
MMM     141.14  141.0
ABT      39.60   40.0
ABBV     53.95   54.0
ACN      79.79   80.0
ACE     102.91  103.0

In [31]:
dups.iloc[:, 3]

Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0
        ...
YHOO     35.0
YUM      75.0
ZMH     102.0
ZION     28.0
ZTS      31.0
Name: Price, Length: 500, dtype: float64

# Reordering columns

In [32]:
reversed_column_names = sp500.columns[::-1]
sp500[reversed_column_names][:5]

        BookValue   Price                  Sector
Symbol
MMM        26.668  141.14             Industrials
ABT        15.573   39.60             Health Care
ABBV        2.954   53.95             Health Care
ACN         8.326   79.79  Information Technology
ACE        86.897  102.91              Financials

In [33]:
reversed_column_names

Index(['BookValue', 'Price', 'Sector'], dtype='object')

In [34]:
copy = sp500.copy()
copy.Price = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

In [35]:
# 인덱스로 접근하는 방법
copy = sp500.copy()
copy.loc[:, 'Price'] = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

In [36]:
# 동일한 컬럼명이 아닌 경우에는 새로운 열을 추가한다.
copy = sp500.copy()
copy.loc[:, 'Price1'] = rounded_price.Price
copy[:5]

                        Sector   Price  BookValue  Price1
Symbol
MMM                Industrials  141.14     26.668   141.0
ABT                Health Care   39.60     15.573    40.0
ABBV               Health Care   53.95      2.954    54.0
ACN     Information Technology   79.79      8.326    80.0
ACE                 Financials  102.91     86.897   103.0

In [37]:
copy = sp500.copy()
copy.iloc[:, 1] = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

# Deleting columns

In [40]:
copy = sp500.copy()
del copy['BookValue']
copy[:2]

             Sector   Price
Symbol
MMM     Industrials  141.14
ABT     Health Care   39.60

In [41]:
copy = sp500.copy()
popped = copy.pop('Sector')
copy[:2]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573

In [42]:
# pop 메소드는 제거와 동시에 return값을 가져간다.
popped[:5]

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [44]:
# drop메소드는 삭제 후 새로운 객체를 만들어주는 특징이 있다.
# 원본과 다른!!!!
copy = sp500.copy()
afterdrop = copy.drop(['Sector'], axis=1)
afterdrop[:5]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573
ABBV     53.95      2.954
ACN      79.79      8.326
ACE     102.91     86.897

In [45]:
# 행 단위 삭제
copy = sp500.copy()
copy1 = copy.drop(['MMM', 'ACN'], axis=0)
copy1[:5]

                        Sector   Price  BookValue
Symbol
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACE                 Financials  102.91     86.897
ACT                Health Care  213.77     55.188
ADBE    Information Technology   64.30     13.262

In [48]:
copy.Price = copy['Price'].round()
copy

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897
...                        ...    ...        ...
YHOO    Information Technology   35.0     12.768
YUM     Consumer Discretionary   75.0      5.147
ZMH                Health Care  102.0     37.181
ZION                Financials   28.0     30.191
ZTS                Health Care   31.0      2.150

[500 rows x 3 columns]

In [61]:
df1 = sp500.iloc[0:3].copy()
df2 = sp500.iloc[[10, 11, 2]]
appended = df1.append(df2)
appended

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
A       Health Care   56.18     16.928
GAS       Utilities   52.98     32.462
ABBV    Health Care   53.95      2.954

In [52]:
df1

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954

In [53]:
df2

             Sector  Price  BookValue
Symbol
A       Health Care  56.18     16.928
GAS       Utilities  52.98     32.462
ABBV    Health Care  53.95      2.954

In [55]:
df3 = pd.DataFrame(0.0,
                  index=df1.index,
                  columns=['PER'])
df3

        PER
Symbol
MMM     0.0
ABT     0.0
ABBV    0.0

In [56]:
df1.append(df3, ignore_index=True)

        Sector   Price  BookValue  PER
0  Industrials  141.14     26.668  NaN
1  Health Care   39.60     15.573  NaN
2  Health Care   53.95      2.954  NaN
3          NaN     NaN        NaN  0.0
4          NaN     NaN        NaN  0.0
5          NaN     NaN        NaN  0.0

In [57]:
df1

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954

In [59]:
df1.append(df3, ignore_index=False)

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668  NaN
ABT     Health Care   39.60     15.573  NaN
ABBV    Health Care   53.95      2.954  NaN
MMM             NaN     NaN        NaN  0.0
ABT             NaN     NaN        NaN  0.0
ABBV            NaN     NaN        NaN  0.0

In [60]:
df1['PER'] = df3
df1

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668  0.0
ABT     Health Care   39.60     15.573  0.0
ABBV    Health Care   53.95      2.954  0.0

In [63]:
df1 = sp500.iloc[0:3].copy()
df1

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954

In [64]:
# 둘 다 사용할 수 있다
pd.concat([df1, df2])

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
A       Health Care   56.18     16.928
GAS       Utilities   52.98     32.462
ABBV    Health Care   53.95      2.954

In [68]:
df2_2 = df2.copy()
df2_2.insert(3, 'Foo', pd.Series(0, index=df2.index))
df2_2

             Sector  Price  BookValue  Foo
Symbol
A       Health Care  56.18     16.928    0
GAS       Utilities  52.98     32.462    0
ABBV    Health Care  53.95      2.954    0

In [69]:
pd.concat([df1, df2_2], sort=False)

             Sector   Price  BookValue  Foo
Symbol
MMM     Industrials  141.14     26.668  NaN
ABT     Health Care   39.60     15.573  NaN
ABBV    Health Care   53.95      2.954  NaN
A       Health Care   56.18     16.928  0.0
GAS       Utilities   52.98     32.462  0.0
ABBV    Health Care   53.95      2.954  0.0

In [70]:
pd.concat([df1, df2_2], sort=False, axis=1)

           Sector   Price  BookValue       Sector  Price  BookValue  Foo
MMM   Industrials  141.14     26.668          NaN    NaN        NaN  NaN
ABT   Health Care   39.60     15.573          NaN    NaN        NaN  NaN
ABBV  Health Care   53.95      2.954  Health Care  53.95      2.954  0.0
A             NaN     NaN        NaN  Health Care  56.18     16.928  0.0
GAS           NaN     NaN        NaN    Utilities  52.98     32.462  0.0

In [71]:
pd.concat([df1, df2_2], sort=True)

        BookValue  Foo   Price       Sector
Symbol
MMM        26.668  NaN  141.14  Industrials
ABT        15.573  NaN   39.60  Health Care
ABBV        2.954  NaN   53.95  Health Care
A          16.928  0.0   56.18  Health Care
GAS        32.462  0.0   52.98    Utilities
ABBV        2.954  0.0   53.95  Health Care

In [72]:
df1

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954

In [73]:
df2

             Sector  Price  BookValue
Symbol
A       Health Care  56.18     16.928
GAS       Utilities  52.98     32.462
ABBV    Health Care  53.95      2.954

In [77]:
r = pd.concat([df1, df2_2], keys=['df1', 'df2'], sort=False)
r

                 Sector   Price  BookValue  Foo
    Symbol
df1 MMM     Industrials  141.14     26.668  NaN
    ABT     Health Care   39.60     15.573  NaN
    ABBV    Health Care   53.95      2.954  NaN
df2 A       Health Care   56.18     16.928  0.0
    GAS       Utilities   52.98     32.462  0.0
    ABBV    Health Care   53.95      2.954  0.0

# Adding and replacing rows via setting with enlargement

In [74]:
ss = sp500[:3].copy()

ss.loc['FOO'] = ['the sector', 100, 100]
ss

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
FOO      the sector  100.00    100.000

In [76]:
ss.loc['WWW'] = ['the sector', 100, 110]
ss

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
FOO      the sector  100.00    100.000
WWW      the sector  100.00    110.000

In [79]:
afterdrop = ss.drop(['ABT', 'MMM'])
afterdrop

             Sector   Price  BookValue
Symbol
ABBV    Health Care   53.95      2.954
FOO      the sector  100.00    100.000
WWW      the sector  100.00    110.000

# Removing rows using Boolean selection

In [80]:
selection = sp500.Price > 300
selection

Symbol
MMM     False
ABT     False
ABBV    False
ACN     False
ACE     False
        ...
YHOO    False
YUM     False
ZMH     False
ZION    False
ZTS     False
Name: Price, Length: 500, dtype: bool

In [87]:
(len(selection), selection.sum())

(500, 10)

In [82]:
selections = sp500[sp500.Price>300]
selections

                        Sector    Price  BookValue
Symbol
AMZN    Consumer Discretionary   312.24     22.452
AAPL    Information Technology   614.13    139.460
AZO     Consumer Discretionary   540.90    -51.275
BLK                 Financials   300.69    156.547
CMG     Consumer Discretionary   522.32     52.915
GOOG    Information Technology   552.70    135.977
GHC     Consumer Discretionary   677.29      0.000
ISRG               Health Care   363.86     95.224
NFLX    Information Technology   402.35     24.664
PCLN               Industrials  1197.12    137.886

In [85]:
price_less_than_300 = sp500[~selection]
price_less_than_300.shape

(490, 3)