### 문제와 실행결과를 바탕으로 프로그래밍 하시오, 영문과 한글 주석을 참고하시오(1문제 오답에 -3점씩 감점 참고)
### 정답 파일을 학번_이름.ipynb 형식으로 저장하고 압축한 후 i-campus 9주차 테스트 과제에 제출바랍니다.

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 100)

In [5]:
df = pd.read_csv('../data/USA_cars_datasets.csv', index_col='brand', usecols=[0, 2, 4, 10]) # 미국 자동차 셋(북미 지역의 자동자 경매)참조
df

           price  mileage condition left
brand
toyota      6300   274117   10 days left
ford        2899   190552    6 days left
dodge       5350    39590    2 days left
ford       25000    64146  22 hours left
chevrolet  27700     6654  22 hours left
...          ...      ...            ...
nissan      7800    23609    1 days left
nissan      9200    34553  21 hours left
nissan      9200    31594  21 hours left
nissan      9200    32557    2 days left
nissan      9200    31371  21 hours left

[2499 rows x 3 columns]

In [7]:
df.rename(columns={
        'condition left': 'condition_left'},
        inplace=True)
df
# 컬럼 이름 변경 'condition left'를 condition_left'로 변경 rename()

           price  mileage condition_left
brand
toyota      6300   274117   10 days left
ford        2899   190552    6 days left
dodge       5350    39590    2 days left
ford       25000    64146  22 hours left
chevrolet  27700     6654  22 hours left
...          ...      ...            ...
nissan      7800    23609    1 days left
nissan      9200    34553  21 hours left
nissan      9200    31594  21 hours left
nissan      9200    32557    2 days left
nissan      9200    31371  21 hours left

[2499 rows x 3 columns]

In [6]:
# we can see the column is changed  컬럼 속성 표시
df.columns

Index(['price', 'mileage', 'condition left'], dtype='object')

In [8]:
df.columns # 위 과정에서 이미 진행
# we can see the column is changed   rename( ) inplace 속성 활용 컬럼 이름 변경 'condition left'를 'condition_left' 로 변경
df.columns                # 컬럼 속성 표시

Index(['price', 'mileage', 'condition_left'], dtype='object')

In [9]:
df.condition_left                    # 데이터프레임 컬럼 속성

brand
toyota        10 days left
ford           6 days left
dodge          2 days left
ford         22 hours left
chevrolet    22 hours left
                 ...
nissan         1 days left
nissan       21 hours left
nissan       21 hours left
nissan         2 days left
nissan       21 hours left
Name: condition_left, Length: 2499, dtype: object

In [11]:
df_copy = df.copy()
# add the new column
df_copy['mileage'] = df.mileage.round(-2)               # mileage 십의자리까지 0처리 mileage 컬럼에 반영 round()
df_copy

           price  mileage condition_left
brand
toyota      6300   274100   10 days left
ford        2899   190600    6 days left
dodge       5350    39600    2 days left
ford       25000    64100  22 hours left
chevrolet  27700     6700  22 hours left
...          ...      ...            ...
nissan      7800    23600    1 days left
nissan      9200    34600  21 hours left
nissan      9200    31600  21 hours left
nissan      9200    32600    2 days left
nissan      9200    31400  21 hours left

[2499 rows x 3 columns]

In [15]:
# make a copy so that we keep the original data unchanged
copy = df.copy()
# insert df.mileage as the 
# second column in the DataFrame
copy.insert(1, 'mileagePrice', copy.mileage.round(-2))                                                 #insert() 인덱스'1' 위치,mileage를 십의자리까지 0 적용, mileagePrice 컬럼명으로 추가
copy[:2]

        price  mileagePrice  mileage condition_left
brand
toyota   6300        274100   274117   10 days left
ford     2899        190600   190552    6 days left

In [16]:
# copy of subset / slice
ss = df[:3].copy()
# add the new column initialized to 0
ss.loc[:,'color'] = 'blue'                           # color 컬럼의 blue 값 추가 .loc 속성
# take a look at the results
ss

        price  mileage condition_left color
brand
toyota   6300   274117   10 days left  blue
ford     2899   190552    6 days left  blue
dodge    5350    39590    2 days left  blue

In [17]:
# copy of subset / slice
ss = df[:3].copy()
# add the new column initialized with random numbers
np.random.seed(123456)
ss.loc[:, 'color'] = pd.Series(np.random.normal(size=3), index=ss.index) # color 필드 추가 .loc속성
# take a look at the results
ss

        price  mileage condition_left     color
brand
toyota   6300   274117   10 days left  0.469112
ford     2899   190552    6 days left -0.282863
dodge    5350    39590    2 days left -1.509059

In [20]:
# create a DataFrame with only the RoundedPrice column
rounded_mileage = pd.DataFrame({'mileagePrice': df.mileage.round(-2)})  # round()함수 활용, mileage를 mileagePrice 컬럼명으로 백의 자리까지 0처리 값 적용
rounded_mileage

           mileagePrice
brand
toyota           274100
ford             190600
dodge             39600
ford              64100
chevrolet          6700
...                 ...
nissan            23600
nissan            34600
nissan            31600
nissan            32600
nissan            31400

[2499 rows x 1 columns]

In [22]:
# concatenate along the columns axis
pd.concat([df, rounded_mileage], axis=1)  # concat(), df, rounded_mileage 열 단위 접합
df[:5]

           price  mileage condition_left
brand
toyota      6300   274117   10 days left
ford        2899   190552    6 days left
dodge       5350    39590    2 days left
ford       25000    64146  22 hours left
chevrolet  27700     6654  22 hours left

In [25]:
# concatenate along the columns axis
concatenated = pd.concat([df, rounded_mileage], axis=1)# concat(), df, rounded_mileage 열 단위 접합 객체 생성 
concatenated[:5]

           price  mileage condition_left  mileagePrice
brand
toyota      6300   274117   10 days left        274100
ford        2899   190552    6 days left        190600
dodge       5350    39590    2 days left         39600
ford       25000    64146  22 hours left         64100
chevrolet  27700     6654  22 hours left          6700

In [28]:
# create a DataFrame with only the RoundedPrice column
rounded_mileage = pd.DataFrame({'mileagePrice': df.mileage.round(-1)})  # mileage 일의 자리 0처리, mileagePrice 반영, round() 사용
rounded_mileage[:5]

           mileagePrice
brand
toyota           274120
ford             190550
dodge             39590
ford              64150
chevrolet          6650

In [31]:
# this will result in duplicate Price columm
dups = pd.concat([df, rounded_mileage], axis=1)               # concat(), 열단위 접합 df, rounded_mileage
dups[:5]

           price  mileage condition_left  mileagePrice
brand
toyota      6300   274117   10 days left        274120
ford        2899   190552    6 days left        190550
dodge       5350    39590    2 days left         39590
ford       25000    64146  22 hours left         64150
chevrolet  27700     6654  22 hours left          6650

In [32]:
len(dups)                  # dups 데이터 길이

2499

In [33]:
# retrieves both Price columns
dups.mileagePrice[:5]                       # mileagePrice 컬럼 속성으로 5행 표시

brand
toyota       274120
ford         190550
dodge         39590
ford          64150
chevrolet      6650
Name: mileagePrice, dtype: int64

In [34]:
# retrieves both Price columns
dups.iloc[:,3]                     #iloc 속성, 3열 모든행

brand
toyota       274120
ford         190550
dodge         39590
ford          64150
chevrolet      6650
              ...
nissan        23610
nissan        34550
nissan        31590
nissan        32560
nissan        31370
Name: mileagePrice, Length: 2499, dtype: int64

In [36]:
# retrieves both Price columns
dups.loc[:,'mileage']                      # loc 속성, mileage컬럼 모든 행

brand
toyota       274117
ford         190552
dodge         39590
ford          64146
chevrolet      6654
              ...
nissan        23609
nissan        34553
nissan        31594
nissan        32557
nissan        31371
Name: mileage, Length: 2499, dtype: int64

In [38]:
# return a new DataFrame with the columns reversed
reversed_column_names = df.columns[::-1]                  # 컬럼 역순 정렬 객체 생성
df[reversed_column_names].head()

          condition_left  mileage  price
brand
toyota      10 days left   274117   6300
ford         6 days left   190552   2899
dodge        2 days left    39590   5350
ford       22 hours left    64146  25000
chevrolet  22 hours left     6654  27700

In [39]:
# return a new DataFrame with the columns reversed

reversed_column_names

Index(['condition_left', 'mileage', 'price'], dtype='object')

In [45]:
# this occurs in-place so let's use a copy
copy = df.copy()
# replace the Price column data with rounded values
copy.loc[:, 'mileage'] = rounded_mileage.mileagePrice  # loc 속성, rounded_mileage.mileagePrice를 'mileage' 반영
copy.head()

           price  mileage condition_left
brand
toyota      6300   274120   10 days left
ford        2899   190550    6 days left
dodge       5350    39590    2 days left
ford       25000    64150  22 hours left
chevrolet  27700     6650  22 hours left

In [47]:
# Example of using del to delete a column
# make a copy as this is done in-place
copy = df.copy()
del copy['mileage']           # del 'mileage' 컬럼 삭제
copy[:2]

        price condition_left
brand
toyota   6300   10 days left
ford     2899    6 days left

In [48]:
# Example of using pop to remove a column from a DataFrame
# first make a copy of a subset of the data frame as
# pop works in place
copy = df.copy()
# this will remove mileage and return it as a series
popped = copy.pop('mileage')      
# mileage column removed in-place    # pop() 'mileage' 삭제
copy[:2]

        price condition_left
brand
toyota   6300   10 days left
ford     2899    6 days left

In [49]:
# and we have the Sector column as the result of the pop
popped[:5]   # 즉석에서 Series를 삭제한 후 삭제한 Series를 반환

brand
toyota       274117
ford         190552
dodge         39590
ford          64146
chevrolet      6654
Name: mileage, dtype: int64

In [50]:
# Example of using drop to remove a column 
# make a copy of a subset of the data frame
copy = df.copy()
# this will return a new DataFrame with 'mileage’ removed
# the copy DataFrame is not modified
afterdrop = copy.drop(['mileage'], axis=1)                   # drop() mileage 컬럼 삭제, 행, 컬럼이 삭제 새 데이터프레임 반환, 원래 DataFrame 변경되지 않음
afterdrop

           price condition_left
brand
toyota      6300   10 days left
ford        2899    6 days left
dodge       5350    2 days left
ford       25000  22 hours left
chevrolet  27700  22 hours left
...          ...            ...
nissan      7800    1 days left
nissan      9200  21 hours left
nissan      9200  21 hours left
nissan      9200    2 days left
nissan      9200  21 hours left

[2499 rows x 2 columns]

In [51]:
# Example of using drop to remove a column 
# make a copy of a subset of the data frame
copy = df.copy()
# this will return a new DataFrame with 'toyota','ford' removed
# the copy DataFrame is not modified
copy1 = copy.drop(['toyota', 'ford'], axis=0)                              # drop() 행 단위 toyota','ford' 삭제
copy1

           price  mileage condition_left
brand
dodge       5350    39590    2 days left
chevrolet  27700     6654  22 hours left
dodge       5700    45561    2 days left
chevrolet   7300   149050  22 hours left
gmc        13350    23525  20 hours left
...          ...      ...            ...
nissan      7800    23609    1 days left
nissan      9200    34553  21 hours left
nissan      9200    31594  21 hours left
nissan      9200    32557    2 days left
nissan      9200    31371  21 hours left

[1263 rows x 3 columns]

In [52]:
# determine the rows where mileage > 250000
selection = df.mileage >250000
# report number of rows and number that will be dropped           mileage 컬럼 250000 보다 큰 객체 생성
selection

brand
toyota        True
ford         False
dodge        False
ford         False
chevrolet    False
             ...
nissan       False
nissan       False
nissan       False
nissan       False
nissan       False
Name: mileage, Length: 2499, dtype: bool

In [53]:
# determine the rows where mileage > 250000
# report number of rows and number that will be dropped         len(), sum()
(len(selection), selection.sum())

(2499, 21)

In [54]:
# select the complement of the expression
# note the use of the complement of the selection
price_less_than_250000 = df[~selection]   # 250000보다 작거나 같은 객체 생성
price_less_than_250000

           price  mileage condition_left
brand
ford        2899   190552    6 days left
dodge       5350    39590    2 days left
ford       25000    64146  22 hours left
chevrolet  27700     6654  22 hours left
dodge       5700    45561    2 days left
...          ...      ...            ...
nissan      7800    23609    1 days left
nissan      9200    34553  21 hours left
nissan      9200    31594  21 hours left
nissan      9200    32557    2 days left
nissan      9200    31371  21 hours left

[2478 rows x 3 columns]

### 수고하셨습니다.

# -> 오늘도 좋은강의 감사합니다~!