# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [2]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [3]:
a.capitalize() # 첫글자만 대문자고, 나머지는 전부 소문자로 바뀌게된다.

"Hi! everyone, i'm kim"

In [4]:
a.title() #  어포스트로피(') 나 공백 이후를 대문자로 만들어 반환..하기때문에 M이 이상하게 나온다

"Hi! Everyone, I'M Kim"

In [5]:
a.upper()

"HI! EVERYONE, I'M KIM"

In [6]:
a.lower()

"hi! everyone, i'm kim"

In [7]:
a.swapcase() ## 대소문자 반전!

"Hi! eVERYONE, i'M KIM"

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [ ]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

**Iterable** 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다. (String)

In [8]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [9]:
'!'.join(word)

'배!고!파'

In [10]:
'!'.join(words)

'안녕!hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [11]:
'YaY!'.replace('a', '_')

'Y_Y!'

In [16]:
print('woowoowoo'.replace('o','')) # 모든 o를 제거.
print('woowoowoo'.replace('o','', 2)) # 앞에서부터 count부터 제거

# Q) 중간을 제거하고싶다면요?
# A) 정규표현식을 사용하거나, 패턴을 찾는 게 좋습니다

print('woowoowoo'.replace('owoowo', 'owwo'))

www
wwoowoo
woowwoo

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [20]:
'       oh!  \n 배고프당 '.strip() ## 무조건 양 끝에만 가능하고, 파이썬에서는 내부적으로는 불가능하다.

'oh!  \n 배고프당'

In [21]:
'      아 진짜 배고프다          '.lstrip() ## 왼쪽만 자르기

'아 진짜 배고프다          '

In [22]:
'      아 진짜 배고프다          '.rstrip() ## 오른쪽만 자르기

'      아 진짜 배고프다'

## 탐색 및 검증

### `.find(x)` 

x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [23]:
'apple'.find('l')

3

In [25]:
print('apple'.find('l') +1 ,'번째')

4 번째

In [26]:
print('apple'.find('f'))

-1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [28]:
print('apple'.index('l'))

3

In [29]:
print('apple'.index('f')) ## find랑 다르게 에러를 발생시킨다.

ValueError: substring not found

## 에러가 나야 핸들링하기 좋기 때문에,  index를 사용하는 게 안정적이다.

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [30]:
'a_b_c'.split('_')

['a', 'b', 'c']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [31]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
dir('example')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [33]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [34]:
# 값을 추가해봅시다.

In [35]:
cafe.append('bana presso')

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [36]:
numbers = [1,2,3]
numbers.extend([4,5,6])
print(numbers)

[1, 2, 3, 4, 5, 6]

원본을 조작하기 때문에, `+`를 사용해주는 게 안전하다.

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [37]:
cafe += ['w cafe', 'coffe bean']

In [ ]:
# append와 비교해봅시다.

In [39]:
cafe.append(['cofeenie'])
print(cafe)
print('-----')

cafe.extend('빽다방')
print(cafe)
print('----')

cafe.extend(['coffing gurunaru'])
print(cafe)
print('----')

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffe bean', ['cofeenie']]
-----
['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffe bean', ['cofeenie'], '빽', '다', '방']
----
['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffe bean', ['cofeenie'], '빽', '다', '방', 'coffing gurunaru']
----

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [40]:
cafe.insert(0, '맥커피')

In [42]:
print(cafe) ## 한칸씩 밀어주는 미띤함수!

['맥커피', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffe bean', ['cofeenie'], '빽', '다', '방', 'coffing gurunaru']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [45]:
cafe.insert(len(cafe), '커피 비엔나')
print(cafe)

['맥커피', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffe bean', ['cofeenie'], '빽', '다', '방', 'bye', 'coffing gurunaru', '커피 비엔나']

In [46]:
cafe.insert(-1, '마지막인가?')
print(cafe)
## 마지막에 들어오지 않는다. 빡친다!

['맥커피', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffe bean', ['cofeenie'], '빽', '다', '방', 'bye', 'coffing gurunaru', '마지막인가?', '커피 비엔나']

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [47]:
cafe.insert(len(cafe)+100, '투썸플레이스')

In [49]:
cafe ## 길이를 초과하는 값으로 넣으면 이렇게...마지막에 들어간다

['맥커피',
 'starbucks',
 'tomntoms',
 'hollys',
 'bana presso',
 'w cafe',
 'coffe bean',
 ['cofeenie'],
 '빽',
 '다',
 '방',
 'bye',
 'coffing gurunaru',
 '마지막인가?',
 '커피 비엔나',
 '투썸플레이스']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [52]:
for _ in range(numbers.count(2)):
    numbers.remove(2)
    
print(numbers)

[1, 3, 4, 5, 6]

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [54]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [55]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [56]:
a.pop()

6

In [57]:
a # 6은 이미 빠져나왔다.

[1, 2, 3, 4, 5]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [59]:
ap = a.pop()
ap

5

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [63]:
a.clear()

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [64]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [65]:
a.index(3)

2

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [67]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [68]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [69]:
for _ in range(a.count(1)):
    a.remove(1)
print(a)

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [70]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[26, 35, 12, 31, 2, 43]

In [71]:
# sort() 를 사용해봅시다.
print(sorted(lotto))

[2, 12, 26, 31, 35, 43]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [72]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [75]:
print(list(reversed(classroom)))

['Justin', 'David', 'Tom']

## 복사

In [76]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [77]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [78]:
copy_list[0] = 5
print(copy_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확안해봅시다.

In [79]:
print(id(copy_list), id(original_list))

2097424613064 2097424613064

## 가장 이상적인 방법은 슬라이싱을 통해  입력받는것
```python
original = [1,2,3]
copy_list = original[:]
```

In [ ]:
## 슬라이싱의 경우 원본을 파괴하지 않고 return값을 갖는 메소드.

### mutable (바꿀 수 있는 것들)
> list, dictionary, set

### immutable(바꿀 수 없는 것들)
> str, tuple, int, bool ...

즉, 뮤터블한 타입은 copy가 아니라, 이름이 두 개가 되는 것 뿐이다.
이뮤터블 한 애가 바로 shallow copy의 개념이 된다.

In [ ]:
# 숫자를 확인해봅시다.

In [84]:
a = 1
c = a
b = 2555
d = b
d = 2555
print(b, d)
print(id(b), id(d))

2555 2555
2097423899952 2097423899632

In [ ]:
# 딕셔너리도 확인해봅시다.

In [85]:
lunch = {'김밥천국':'치츠김밥', '양자강':'차돌짬뽕'}
dinner = lunch

dinner['김밥천국'] = ' 치즈라면'

In [86]:
dinner

{'김밥천국': ' 치즈라면', '양자강': '차돌짬뽕'}

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [87]:
a = [1,2,3]
b = list(a)

In [88]:
b=[0]
print(a, b)

[1, 2, 3] [0]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [90]:
a = [1, 2, [3, 4]]
b = a[:]

In [92]:
b[2][0]= 99
print(a)

b[0] = 24
print(a, b)

[1, 2, [99, 4]]
[1, 2, [99, 4]] [24, 2, [99, 4]]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [ ]:
# 겉면만 복사하기 때문에, 이중배열의 경우 내부 리스트값의 변경은 막지 못한다.

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [93]:
# 깊은 복사를 사용해봅시다.

In [95]:
import copy

a = [1, 2, [3, 4]]
b = a[:]


b = copy.deepcopy(a)
b[2][0] = 99
b[0] = 24

print(a, b)

[1, 2, [3, 4]] [24, 2, [99, 4]]

In [96]:
dir(copy)

['Error',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_copy_dispatch',
 '_copy_immutable',
 '_deepcopy_atomic',
 '_deepcopy_dict',
 '_deepcopy_dispatch',
 '_deepcopy_list',
 '_deepcopy_method',
 '_deepcopy_tuple',
 '_keep_alive',
 '_reconstruct',
 'copy',
 'deepcopy',
 'dispatch_table',
 'error']

In [100]:
tmp_dict1 = {
    't1':1,
    't2':2,
    't3':3,
    't4':4,
}

b = copy.deepcopy(tmp_dict1)
b['t1'] = 66

print(tmp_dict1, b)

{'t1': 1, 't2': 2, 't3': 3, 't4': 4} {'t1': 66, 't2': 2, 't3': 3, 't4': 4}

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [101]:
a = range(1, 11)

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [103]:
cubic_list = []
for n in a:
    cubic_list.append(n**3)
    
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [104]:
cubic_list = [n**3 for n in a]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [106]:
even_list = []
for n in range(1, 11):
    if not n%2 : #짝수판별식
        even_list.append(n)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [107]:
even_list = [n for n in range(1,11) if not n%2]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [109]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [110]:
# 반복문을 활용하여 작성하세요.

In [138]:
pair = []

for b in boys:
    for g in girls:
        pair.append((b,g))
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [142]:
from itertools import product

pair = product(boys, girls)
print(list(pair))

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [139]:
pair = [(b, g) for b in boys for g in girls]
pair

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [116]:
temp = []
for x in range(1, 50):
    for y in range(x+1, 50):
        for z in range(y+1, 50):
            if x**2 + y**2 == z**2:
                temp.append((x, y, z))
                
print(temp)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45), (30, 40, 50)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [145]:
temp = [(x, y, z) for x in range(1, 50) for y in range(x+1, 50) for z in range(y+1, 50) if (x**2 + y**2 == z **2) ]

print(temp)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [128]:
words = 'Life is too short, you need python!'

In [129]:
# 반복문을 활용하여 작성하세요.

In [130]:
moeum = 'aeiou'
result = ''

for w in words:
    if w in moeum:
        result += ''
    else:
        result += w
print(result)

Lf s t shrt, y nd pythn!

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [147]:
moeum = 'aeiou'
result = ''.join([w if w not in moeum else '' for w in words])

print(result)

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [148]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [150]:
my_dict.pop('banana') ## value값만 나온다

'바나나'

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [151]:
my_dict.pop('apple', 0)

'사과'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [152]:
my_dict.pop('apple', 0) # 찾는 값이 없으면 그냥 0줘!

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [153]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [154]:
my_dict['banana'] = '버내너'
print(my_dict)

{'apple': '사과', 'banana': '버내너', 'melon': '멜론'}

In [156]:
my_dict.update(banana = '바나나') # key = value ## 가변인자 **kwlist 를 받을 때랑 비슷하다.

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [157]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [160]:
print(my_dict.get('pineapple')) ## 키값이 없는 경우 None값을 갖는다.

print(my_dict.get('pineapple', 0)) # default값을 정해주면 그대로 반환한다.

None
0

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [161]:
cubic = {num: num**3 for num in range(1, 11)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Dictionary comprehension 사용해보기

In [162]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [163]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

In [165]:
hell = {}
for key, val in dusts.items():
    if val > 80:
        hell[key] = val
print(hell)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [168]:
result = {key:val for key, val in dusts.items() if val > 80}
print(result)

{'대전': 82, '중국': 200}

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [170]:
result = {}

for key, value in dusts.items():
    if value > 80:
        result[key] = '나쁨'
    else:
        result[key] = '좋음'
        
print(result)

{'서울': '좋음', '대전': '나쁨', '구미': '좋음', '광주': '좋음', '중국': '나쁨'}

In [172]:
result = {key:'나쁨' if val>80 else '좋음' for key, val in dusts.items()}
print(result)

{'서울': '좋음', '대전': '나쁨', '구미': '좋음', '광주': '좋음', '중국': '나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [173]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [174]:
## set은 순서의 개념이 없기 대문에, append, pop 대신 add, remove로 대신한다.
a.add('포도')

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [184]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [185]:
a.update({'딸기','아보카도','천혜향'})
print(a)

{'수박', '바나나', '딸기', '아보카도', '사과', '천혜향'}

In [183]:
a.update('딸기','아보카도','천혜향')
print(a)
## 스트링을 그대로 넣어주면 안된다.

{'사과', '딸', '수박', '아', '아보카도', '천', '혜', '천혜향', '카', '도', '딸기', '보', '바나나', '향', '기'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [186]:
a.remove('바나나')
print(a)

{'수박', '딸기', '아보카도', '사과', '천혜향'}

In [187]:
a.remove('바나나')
print(a) ## 바나나가 없기 때문에 에러가 발생한다.

KeyError: '바나나'

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [188]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [189]:
a.discard('바나나')
print(a)

{'수박', '사과'}

In [191]:
a.discard('바나나') # 에러를 발생하지 않는다.
print(a) ## 삐비비빅!! 좋지 않음!!!

{'수박', '사과'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [198]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [197]:
random_fruit = a.pop()
print(random_fruit) ## 물론 다 빼고나면 더이상 빺핑 불가능하다...

KeyError: 'pop from an empty set'

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다.

In [200]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [201]:
# list comprehension

In [202]:
chars = ''.join([str(num) for num in numbers])
print(chars)

123

In [203]:
chars = ''.join(list(map(str, numbers))) ## numbers의 각 원소에 str이라는 메소드(함수)를 적용하겠다.
print(chars)

123

In [ ]:
# map

In [205]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [206]:
# list comprehension

In [210]:
int(''.join(numbers))

123

In [ ]:
# map

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [211]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [212]:
numbers = [1,2,3]
list(map(cube, numbers))

[1, 8, 27]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [213]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [214]:
list(zip(girls, boys)) ## 원소들을 하나씩 꺼내서 튜플로 묶어줌. ~ pairing

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [216]:
di = {girl:boy for girl, boy in zip(girls, boys)}
print(di)

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# zip

In [217]:
a = '123'
b = '567'

tmp = 0

for digit_a, digit_b in zip(a,b):
    tmp += int(digit_a + digit_b)

print(tmp)

78

In [218]:
num1 = [1,2,3]
num2 = ['1', '2'] ## 길이가 안맞을 때

list(zip(num1, num2)) ## 짧은 길이에 맞춰준다.

[(1, '1'), (2, '2')]

In [ ]:
# 다른 예시도 알아봅시다.

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

In [220]:
from itertools import zip_longest
    
list(zip_longest(num1, num2, fillvalue = 0)) ## 긴 거에 맞춰서 0을 반환해라... < 잘 안쓰임

[(1, '1'), (2, '2'), (3, 0)]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [221]:
## filter(함수이름, iterable)
def odd(n):
    return n % 2

numbers = [i for i in range(1, 10)]

print(list(filter(odd, numbers))) ## 필터를 걸면 원하는 값만 남게 된다.

[1, 3, 5, 7, 9]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [222]:
[n for n in range(1, 10) if odd(n)]

[1, 3, 5, 7, 9]