In [4]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
df = pd.read_csv('../data/건강검진자료.csv', encoding='cp949')
df

    시군구별(1) 시군구별(2)  성별    대상인원   수검인원
0        서울     종로구  남자   27770  19198
1        서울     종로구  여자   28509  20276
2        서울      중구  남자   24360  16573
3        서울      중구  여자   24672  17476
4        서울     용산구  남자   40684  28025
..      ...     ...  ..     ...    ...
525      제주      소계  여자  113405  83399
526      제주     제주시  남자   88674  64133
527      제주     제주시  여자   82360  61256
528      제주    서귀포시  남자   33749  22877
529      제주    서귀포시  여자   31045  22143

[530 rows x 5 columns]

In [11]:
df.  # 열 이름

Index(['시군구별(1)', '시군구별(2)', '성별', '대상인원', '수검인원'], dtype='object')

In [12]:
    (df) # 데이터 길이

530

In [13]:
df.     # 행열 크기

(530, 5)

In [24]:
speed = pd.read_csv("../data/대중교통과_승용차_속도비교.csv", encoding='cp949', )   # index_col ='권역'  usecols = [0, 1, 3, 4]

In [25]:
speed

       구간  승용차   버스
권역
수도권  10km   30   49
수도권  10km   28   49
수도권  10km   35   49
수도권  20km   47   69
수도권  20km   44   69
..    ...  ...  ...
울산권  20km   30   57
울산권  20km   39   57
울산권  30km   42  104
울산권  30km   41  101
울산권  30km   46  103

[54 rows x 3 columns]

In [26]:
speed.

Index(['수도권', '수도권', '수도권', '수도권', '수도권', '수도권', '수도권', '수도권', '수도권', '대구권',
       '대구권', '대구권', '대구권', '대구권', '대구권', '대구권', '대구권', '대구권', '대전권', '대전권',
       '대전권', '대전권', '대전권', '대전권', '대전권', '대전권', '대전권', '광주권', '광주권', '광주권',
       '광주권', '광주권', '광주권', '광주권', '광주권', '광주권', '부산권', '부산권', '부산권', '부산권',
       '부산권', '부산권', '부산권', '부산권', '부산권', '울산권', '울산권', '울산권', '울산권', '울산권',
       '울산권', '울산권', '울산권', '울산권'],
      dtype='object', name='권역')

In [27]:
speed.

Index(['구간', '승용차', '버스'], dtype='object')

In [28]:
speed                # 승용차

권역
수도권    30
수도권    28
수도권    35
수도권    47
수도권    44
Name: 승용차, dtype: int64

In [30]:
speed              # 승용차, 버스

     승용차  버스
권역
수도권   30  49
수도권   28  49
수도권   35  49
수도권   47  69
수도권   44  69

In [31]:
speed               # 승용차, 버스 type

pandas.core.frame.DataFrame

In [34]:
ss = speed.             # 수도권 loc
ss

       구간  승용차  버스
권역
수도권  10km   30  49
수도권  10km   28  49
수도권  10km   35  49
수도권  20km   47  69
수도권  20km   44  69
수도권  20km   56  69
수도권  30km   56  83
수도권  30km   51  82
수도권  30km   68  83

In [39]:
speed.                      # 대구권, 부산권 loc

       구간  승용차  버스
권역
대구권  10km   24  47
대구권  10km   25  46
대구권  10km   29  46
대구권  20km   36  63
대구권  20km   35  61
..    ...  ...  ..
부산권  20km   39  69
부산권  20km   46  71
부산권  30km   46  87
부산권  30km   46  87
부산권  30km   55  87

[18 rows x 3 columns]

In [40]:
speed.                # at

array([49, 49, 49, 69, 69, 69, 83, 82, 83], dtype=int64)

In [41]:
speed              # 수도권부터 부산권까지 []

       구간  승용차  버스
권역
수도권  10km   30  49
수도권  10km   28  49
수도권  10km   35  49
수도권  20km   47  69
수도권  20km   44  69
..    ...  ...  ..
부산권  20km   39  69
부산권  20km   46  71
부산권  30km   46  87
부산권  30km   46  87
부산권  30km   55  87

[45 rows x 3 columns]

In [42]:
speed                    # 승용차 30보다 작음

       구간  승용차  버스
권역
수도권  10km   28  49
대구권  10km   24  47
대구권  10km   25  46
대구권  10km   29  46
대전권  10km   27  50
..    ...  ...  ..
부산권  10km   25  48
부산권  10km   25  48
울산권  10km   21  45
울산권  10km   21  45
울산권  10km   27  45

[15 rows x 3 columns]

In [43]:
r = speed                            # 승용차 30보다 작고 20보다 큰 승용차, 버스 조건에 맞는 객체 생성
r

     승용차  버스
권역
수도권   28  49
대구권   24  47
대구권   25  46
대구권   29  46
대전권   27  50
..   ...  ..
부산권   25  48
부산권   25  48
울산권   21  45
울산권   21  45
울산권   27  45

[12 rows x 2 columns]

In [45]:
rr = speed                        # 구간이 10km, 승용차 25보다 큰 승용차, 버스 객체 생성
rr

     승용차  버스
권역
수도권   30  49
수도권   28  49
수도권   35  49
대구권   29  46
대전권   27  50
대전권   27  49
대전권   30  49
부산권   31  48
울산권   27  45

In [49]:
speed.                      # 부산권의 버스 검색, loc

권역
부산권    48
부산권    48
부산권    48
부산권    71
부산권    69
부산권    71
부산권    87
부산권    87
부산권    87
Name: 버스, dtype: int64

In [47]:
speed.                                        # 수도권 또는 대전권인 승용차와 버스 검색, loc

     승용차   버스
권역
수도권   30   49
수도권   28   49
수도권   35   49
수도권   47   69
수도권   44   69
..   ...  ...
대전권   38   74
대전권   44   75
대전권   52  116
대전권   51  116
대전권   57  112

[18 rows x 2 columns]